<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="tertiary"><strong>Listado de Productos</strong></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label><strong>Nº</strong></ion-label>
      <ion-label><strong>Nombre</strong></ion-label>
      <ion-label><strong>Descripción</strong></ion-label>
    </ion-item>
    <ion-item *ngFor="let opt of dataUsuario; let x=index ">
      <ion-label>{{x+1}}</ion-label>
      <ion-label>{{opt.nombre}}</ion-label>
      <ion-label>{{opt.valor}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button color="success" routerLink="/productos-registro">Ingresar nuevo</ion-button>
  <ion-button routerLink="">Volver</ion-button>
</ion-content>